version: 2
updates:
  - package-ecosystem: 'pip'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 5
    allow:
      - dependency-type: 'direct'
    ignore:
      - dependency-name: 'urllib3'
        versions: ['<2.5.0']
